* {
  margin: 0;
  padding: 0;

  text-decoration: none;
}

body {
  background-color: #f9fafd;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: sticky;
  display: flex;
  justify-content: center;

  background-color: white;
 
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 68px;

  width: 80vw;
}

.logo {
  width: 87px;
  height: 42px;
}

.mn-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 500px;
  margin-right: 150px;
  color: #2a2a2a;
  font-size: 14px;

  list-style: none; 
}

.mn-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 500px;
}

.mn-search-icon {
  position: relative;
  left: 25px;

  font-size: 14px;

  color: #8a8a8a;
}

.search-box {
  height: 36px;
  padding: 0 30px;
  color: #8a8a8a;

  border-width: 1px;
  border-radius: 5px;
  border-color: #f0f0f0 ;
  background-color: #f9fafd;
  font-size: 12px;
}

.login-icon {
  color: #9da0af;
}

.btn-download {
  height: 36px;

  padding: 0 14px;
  line-height: 36px;
  font-size: 13px;

  border: none;
  background-color: #0ea960;
  border-radius: 5px;

  color: white;
}

.mn-h-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;

  border-radius: 2px;

  width: 36px;
  height: 36px;
}

.h-menu-dot {
  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: #757575;
}